<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="bg-card flex flex-0 flex-col border-b p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8"
    >
        <div class="min-w-0 flex-1">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500"
                        >Risk Management</a
                    >
                </div>
                <div class="ml-1 flex items-center whitespace-nowrap">
                    <mat-icon
                        class="text-secondary icon-size-5"
                        [svgIcon]="'heroicons_mini:chevron-right'"
                    ></mat-icon>
                    <a class="ml-1 text-primary-500">Evironmental & Social Risk & Impact Assessment</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl"
                >
                    Add Assesment
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="w-full h-full">
            <form 
                [formGroup]="envForm" 
                (ngSubmit)="onSubmit(riskImpactNgForm)" autocomplete="off"
                class="bg-card mt-8 flex flex-col h-full overflow-hidden rounded-2xl p-8 pb-4 shadow" #riskImpactNgForm="ngForm">
                <div class="flex flex-wrap py-3">
                    <div class="w-full sm:w-1/3 px-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Activity</mat-label>
                            <input id="activity" matInput [formControlName]="'activity'"/>
                            @if (envForm.get('activity').hasError('required')) {
                                <mat-error>Activity name is required</mat-error>
                             }
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/3 px-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Life Cycle</mat-label>
                            <mat-select [formControlName]="'life_cycle'">
                                @for (lifeCycle of lifeCycles; track lifeCycle.key) {
                                    <mat-option [value]="lifeCycle.key">{{ lifeCycle.value }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/3 px-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Statute</mat-label>
                            <mat-select [formControlName]="'statute'">
                                @for (statute of statutes; track statute.key) {
                                    <mat-option [value]="statute.key">{{ statute.value }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/3 px-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Extension</mat-label>
                            <mat-select [formControlName]="'extension'">
                                @for (extension of extensions; track extension.key) {
                                    <mat-option [value]="extension.key">{{ extension.value }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/3 px-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Duration</mat-label>
                            <mat-select [formControlName]="'duration'">
                                @for (duration of durations; track duration.key) {
                                    <mat-option [value]="duration.key">{{ duration.value }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/3 px-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Intensity</mat-label>
                            <mat-select [formControlName]="'intensity'">
                                @for (intensity of intensities; track intensity.key) {
                                    <mat-option [value]="intensity.key">{{ intensity.value }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/2 px-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Description of measures</mat-label>
                            <textarea id="description_of_measures" matInput [formControlName]="'description_of_measures'"></textarea>
                            @if (envForm.get('description_of_measures').hasError('required')) {
                                <mat-error>Description of measures is required</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/2 px-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Deadline</mat-label>
                            <input id="deadline" matInput [formControlName]="'deadline'"/>
                            @if (envForm.get('deadline').hasError('required')) {
                                <mat-error>Deadline is required</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/2 px-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Effectiveness Assessment</mat-label>
                            <textarea id="effectiveness_assessment" matInput [formControlName]="'effectiveness_assessment'"></textarea>
                            @if (envForm.get('effectiveness_assessment').hasError('required')) {
                                <mat-error>Effectiveness Assessment is required</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/2 px-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Compliance Requirements</mat-label>
                            <textarea id="compliance_requirements" matInput [formControlName]="'compliance_requirements'"></textarea>
                            @if (envForm.get('compliance_requirements').hasError('required')) {
                                <mat-error>Compliance Requirements is required</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-full px-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Observations</mat-label>
                            <textarea id="observation" matInput [formControlName]="'observations'"></textarea>
                            @if (envForm.get('observations').hasError('required')) {
                                <mat-error>Observations is required</mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/3 px-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Department</mat-label>
                            <mat-select [formControlName]="'departament'">
                                @for (department of departments; track department.id) {
                                    <mat-option [value]="department.id">{{ department.name }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="w-full sm:w-1/3 px-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Risks and Impact</mat-label>
                            <mat-select [formControlName]="'risks_and_impact'">
                                @for (risk of risks_impacts; track risk.id) {
                                    <mat-option [value]="risk.id">{{ risk.description }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/3 px-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Evironmental Factor</mat-label>
                            <mat-select [formControlName]="'environmental_factor'">
                                @for (factor of env_factors; track factor.id) {
                                    <mat-option [value]="factor.id">{{ factor.description }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/2 px-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Legal Requirements</mat-label>
                            <mat-select [formControlName]="'legal_requirements'" multiple>
                                @for (requirement of legalRequirements; track requirement.id) {
                                    <mat-option [value]="requirement.id">{{ requirement.description }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-full sm:w-1/2 px-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Probability</mat-label>
                             <mat-select [formControlName]="'probability'">
                               @for (probability of probabilities; track probability.key) {
                                    <mat-option [value]="probability.key">{{ probability.value }}</mat-option>
                                }
                             </mat-select>
                               
                            
                        </mat-form-field>
                    </div>  
                    
                </div>
               <div class="flex justify-end items-center w-full p-3 space-x-3">
                <button mat-raised-button color="warn" type="button">
                    Cancel
                </button>
                <button 
                    mat-raised-button
                    color="primary" 
                    [disabled]="envForm.invalid"
                    type="submit">
                    Save
                </button>
               </div>
            </form>
        </div>
    </div>
</div>
    