<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="bg-card flex flex-0 flex-col border-b p-6 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8"
    >
        <div class="min-w-0 flex-1">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500"
                        >Risk Management</a
                    >
                </div>
                <div class="ml-1 flex items-center whitespace-nowrap">
                    <mat-icon
                        class="text-secondary icon-size-5"
                        [svgIcon]="'heroicons_mini:chevron-right'"
                    ></mat-icon>
                    <a class="ml-1 text-primary-500">Admin</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl"
                >
                    Department
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="max-w-3xl">
           
            <form
                class="bg-card mt-4 flex flex-col overflow-hidden rounded shadow"
            >
            
                <div class="border-b border-t bg-gray-50 p-8 dark:bg-gray-700">
                    <p class="text-lg font-medium">Department</p>
                    <p class="text-secondary">
                        Department Information
                </div>
                <div class="flex flex-col p-8">
                    <mat-form-field class="fuse-mat-dense flex-auto">
                        <mat-label>Department name</mat-label>
                        <input matInput />
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Department description</mat-label>
                        <textarea matInput [rows]="3"></textarea>
                    </mat-form-field>
                </div>
   
                <div
                    class="flex items-center justify-end border-t bg-gray-50 px-8 py-5 dark:bg-gray-700"
                >
                    <button mat-button>Cancel</button>
                    <button
                        class="ml-3 px-6"
                        mat-flat-button
                        [color]="'primary'"
                    >
                        Save
                    </button>
                </div>
            </form> 
        </div>
    </div>
</div>
